.form-group {
    margin: auto;
    margin-top: 25px;
}

.cart {
    margin-left: 1150px;
}

hr {
    border-color: red;
}

.nav-item {
    margin-top: 20px;
    margin-left: 20px;
}

.menu {
    margin: auto;
    margin-top: 10px;
    margin-left: 120px;
}

h3 {
    color: orange;
    margin-top: 20px;
}

.col-md-4 {
    margin-top: 30px;
}