<div class="contain-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="assets/Mark.png" width="15%">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"> Trang Chủ <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Giới Thiệu </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Liên Hệ </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Góp Ý </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Hỏi Đáp </a>
                </li>
                <li class="nav-item">
                    <div class="dropdown show">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"> Tài Khoản </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#"> Đăng Nhập </a>
                            <a class="dropdown-item" href="#">Đăng Ký</a>
                        </div>
                    </div>
                </li>
            </ul>
            <form class="form-inline">
                <div class="form-group">
                    <a class="nav-link" href="#"> English </a>
                </div>
                <div class="form-group">
                    <a class="nav-link" href="#"> Tiếng Việt </a>
                </div>
            </form>
        </div>
    </nav>
</div>

<div class="container">
    <form class="form-inline">
        <div class="form-group col-md-12 justify-content-center">
            <input type="text" class="form-control col-md-3" id="inputPassword2" placeholder="Search">
            <button type="submit" class="btn btn-primary col-md-0"> GO! </button>
        </div>
    </form>
</div>

<div class="contain-fluid">
    <a href="#"><img class="cart" src="assets/Cart.png" width="5%"><b class="text">View Cart</b></a>
</div>

<div class="contain-fluid">
    <b><hr></b>
    <h5><a class="menu" href="#"> Điện Thoại</a> <a class="menu" href="#"> Laptop </a> <a class="menu" href="#"> PC Gaming </a> <a class="menu" href="#"> Phụ Kiện Điện Thoại </a> <a class="menu" href="#"> Linh Kiện PC </a></h5>
    <b><hr></b>
</div>

<div class="container text-center">
    <h3> THÔNG TIN SẢN PHẨM </h3>
</div>

<div class="contain-fluid">
    <img class="image" src="assets/GTX 2080Ti.png" width="40%">
    <h4> Tên sản phẩm: RTX 2080Ti </h4>
    <h4> Đơn giá: 35.000.000 VNĐ </h4>
    <h4> Nhà cung cấp: MSI </h4>
    <h4> Loại: Linh kiện pc </h4>
</div>